Header.css
 header {
    transition: background-color 0.3s ease;
  }
  
  header:hover {
    background-color: rgba(31, 41, 55, 0.9); /* Slightly lighter gray on hover */
   }
  
  nav a {
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #d1d5db; /* Light gray on hover */
  }
