.social-fixed {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social-icon {
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 40px; 
     overflow: hidden; 
    white-space: nowrap; 
    transition: width 0.3s ease-in-out, padding-left 0.3s ease-in-out; 
    position: relatie;
}


.social-icon span {
    margin-left: -150px; 
    opacity: 0;
    transition: margin-left 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}


.social-icon:hover {
    width: 150px; 
}

.social-icon:hover span {
    margin-left: 10px; 
    opacity: 1; 
}

.social-icon i {
    font-size: 20px; 
}


@media (max-width: 789px) {
    .social-fixed {
        display: none; 
    }
}
.twitter {
    background-color: #1DA1F2; 
}

.facebook {
    background-color: #3b5998; 
}

.youtube {
    background-color: #FF0000; 
}

.x {
    background-color: #000; 
    color: #ffffff; 
}